{% extends '@HeccjjSkating/layout_admin.html.twig' %}

{% block title %}内容旧版本{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block body %}
<div class="card-body table-responsive-md">
      <table id="nodelist" class="table table-bordered table-striped table-hover table-sm table-responsive-sm">
      <thead>
      <tr>
          <td>Title</td>
          <td>Author</td>
          <td>CreateAt</td>
      </tr>
      </thead>
      <tbody>
      {% for nv in nvs %}
        {% set node = nv.getNode() %}
        <tr>
        <td><a href="{{path('heccjjskating_detailversion', {'id': nv.id})}}">{{node.title}}</a></td>
        <td>{{ nv.author.name }}</td>
        <td>{{ nv.createAt|date('Y-m-d H:i:s') }}</td>
        </tr>
      {% endfor %}
      </tbody>
      </table>
</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/heccjjskating/js/skating.js') }}"></script>
{% endblock %}
